In [ ]:
#import pandas
import pandas as pd

In [ ]:
#Membuat DataFrame Sederhana
pd.DataFrame(data={'Minuman':['Bandrek','Kopi Hitam'],
                   'Harga': [4500,3200]})

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

In [ ]:
#Mengenali Index pada DataFrame
pd.DataFrame(data={'Budi' : ['suka','suka'],
                   'Wati':['tidak suka','suka']}, 
             index=['Mangga','Jambu'])

        Budi        Wati
Mangga  suka  tidak suka
Jambu   suka        suka

In [ ]:
#Mengenal Series
pd.Series(data=[100, 150, 200, 250, 300])

0    100
1    150
2    200
3    250
4    300
dtype: int64

In [ ]:
pd.Series(data=[3000, 3500, 40000], index=['Mangga','Pisang','Jambu'],
          name='Harga Buah')

Mangga     3000
Pisang     3500
Jambu     40000
Name: Harga Buah, dtype: int64

In [ ]:
#Memuat File CSV ke dalam DataFrame
wine_df = pd.read_csv('winemag.csv')
wine_df.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [ ]:
#Melihat dimensi dengan attribute shape
wine_df.shape

(129971, 14)

In [ ]:
#Menggunakan salah satu kolom sebagai index
wine_df = pd.read_csv('winemag.csv', index_col=0 )
wine_df.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [ ]:
wine_df.shape

(129971, 13)

#Menyimpan DataFrame ke dalam File CSV

In [ ]:

minuman_df = pd.DataFrame(data={'Minuman' : ['Bandrek', 'Kopi Hitam'],
                                'Harga' : [4500, 3200]})
minuman_df

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

In [ ]:
minuman_df.to_csv('minuman.csv')

In [ ]:
#Menyimpan DataFrame ke dalam file csv tanpa menyertakan index
minuman_df.to_csv('minuman.csv', index=False)

In [ ]:
#Melakukan Akses pada kolom DataFrame
wine_df.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

Terdapat 2 cara untuk melakukan akses kolom pada DataFrame

In [ ]:
#Cara 1: Sebagai atribute
#tidak bisa diakses jika ada whitespace
wine_df.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
#Cara 2: Sebagai Dictionary Index
#tetap bisa diakses walaupun mengandung whitespace
wine_df['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
wine_df['country'][0]

'Italy'

**Melakukan akses data pada DataFrame**

terdapat dua mekanisme untuk melakukan akses data pada DataFrame: index-based selection dan label-based selection, kedua mekanisme akses ini mendahulukan baris (row) baru diikuti kolom(column).

**index-based selection**

Mekanisme ini dapat dilakukan dengan memanfaatkan method iloc

In [ ]:
wine_df.iloc[0]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [ ]:
#mengakses baris ke-2 kolom ke-0
wine_df.iloc[2, 0]

'US'

In [ ]:
#mengakses semua baris dan mengambil kolom pertama atau 0
wine_df.iloc[:, 0]

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
#mengakses baris pertama atau 0 dan menampilkan 7 kolom
wine_df.iloc[0 , :7]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
designation                                         Vulkà Bianco
points                                                        87
price                                                        NaN
province                                       Sicily & Sardinia
region_1                                                    Etna
Name: 0, dtype: object

In [ ]:
#untuk mengakses baris 1 sampai ke 3 dan mengambil kolom pertama saja atau 0
wine_df.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

In [ ]:
#Melewatkan list untuk melakukan akses data pada baris dan kolom tertentu dari DataFrame
wine_df.iloc[[0, 3, 8], 0]

0      Italy
3         US
8    Germany
Name: country, dtype: object

In [ ]:
#Menggunakan negative index untuk melakukan akses data pada baris dan kolom tertentu dari DataFrame
#mengakses 5 baris terakhir
wine_df.iloc[-5:]

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

**Label-based Selection**

Mekanisme ini dapat dilakukan dengan memanfaatkan loc

In [ ]:
#menampilkan baris ke 0 atau pertama dengan kolom country
wine_df.loc[0,'country']

'Italy'

In [ ]:
#menampilkan baris ke-0 sampai ke-5 dan yang hanya terdapat pada kolom country
wine_df.loc[0:5, 'country']

0       Italy
1    Portugal
2          US
3          US
4          US
5       Spain
Name: country, dtype: object

In [ ]:
#mengambil semua baris dan menampilkan kolom" yang di panggil dibawah ini saja
wine_df.loc[:, ['taster_name', 'taster_twitter_handle','points']].head()

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
2        Paul Gregutt           @paulgwine       87
3  Alexander Peartree                   NaN      87
4        Paul Gregutt           @paulgwine       87

**Alternatif lain**

Alternatif lain melakukan akses data dapat dilakukan model akses- kolom-baris(column-row)

In [ ]:
#untuk mengambil 2 kolom country dan menampilkan semua barisnya
wine_df[['country','province']][:].head

<bound method NDFrame.head of          country           province
0          Italy  Sicily & Sardinia
1       Portugal              Douro
2             US             Oregon
3             US           Michigan
4             US             Oregon
...          ...                ...
129966   Germany              Mosel
129967        US             Oregon
129968    France             Alsace
129969    France             Alsace
129970    France             Alsace

[129971 rows x 2 columns]>

In [ ]:
#untuk mengambil 2 kolom dari country dan province kemudian mengambil 5 baris pertama
wine_df[['country','province']][:5]

    country           province
0     Italy  Sicily & Sardinia
1  Portugal              Douro
2        US             Oregon
3        US           Michigan
4        US             Oregon

#**Mengganti Index**

In [ ]:
#1. untuk mengganti nama index menjadi title dan menampilkan data, tetapi tidak merubah dataset awal
wine_df.set_index('title').head()

#2. untuk mengganti nama index menjadi title dan menyimpannya ke dalam df
#df = wine_df.set_index('title')

#3. untuk mengganti nama index menjadi title dan menyimpannya di wine_df bukan dataset baru
#wine_df.set_index('title', inplace=True)

                                                     country  ...               winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...              Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...  Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley)             US  ...            Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (...        US  ...           St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child ...        US  ...         Sweet Cheeks

[5 rows x 12 columns]

In [ ]:
#untuk merubah index ke setelan awal atau default
wine_df.reset_index().head()

   index   country  ...         variety               winery
0      0     Italy  ...     White Blend              Nicosia
1      1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2      2        US  ...      Pinot Gris            Rainstorm
3      3        US  ...        Riesling           St. Julian
4      4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

#Seleksi Data pada DataFrame
(Conditional Selection)

In [ ]:
wine_df['country'] == 'Italy'

0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [ ]:
wine_df.loc[wine_df['country'] == 'Italy'].head()

   country  ...               winery
0    Italy  ...              Nicosia
6    Italy  ...      Terre di Giurfo
13   Italy  ...  Masseria Setteporte
22   Italy  ...   Baglio di Pianetto
24   Italy  ...            Canicattì

[5 rows x 13 columns]

In [ ]:
wine_df.loc[(wine_df['country'] == 'Italy') & (wine_df['points'] >= 90)].head()

    country  ...                winery
120   Italy  ...               Ceretto
130   Italy  ...               Ceretto
133   Italy  ...  Poderi Luigi Einaudi
135   Italy  ...       Giacomo Ascheri
140   Italy  ...          Poderi Colla

[5 rows x 13 columns]

In [ ]:
wine_df[(wine_df['country'] == 'Italy') & (wine_df['points'] >= 90)].head()

    country  ...                winery
120   Italy  ...               Ceretto
130   Italy  ...               Ceretto
133   Italy  ...  Poderi Luigi Einaudi
135   Italy  ...       Giacomo Ascheri
140   Italy  ...          Poderi Colla

[5 rows x 13 columns]

#Mengenal beberapa built-in method
Mengenal method `isin`

method `isin` hampir sama seperti funsi `OR` bedanya lebih simple

In [ ]:
wine_df.loc[wine_df['country'].isin(['Italy','France'])].head()

   country  ...              winery
0    Italy  ...             Nicosia
6    Italy  ...     Terre di Giurfo
7   France  ...            Trimbach
9   France  ...  Jean-Baptiste Adam
11  France  ...          Leon Beyer

[5 rows x 13 columns]

Mengenal method `isna` dan `notna`

In [ ]:
#method isna untuk mencari nilai null atau nilai kosong
wine_df[wine_df['price'].isna()].head()

   country  ...                winery
0    Italy  ...               Nicosia
13   Italy  ...   Masseria Setteporte
30  France  ...  Domaine de la Madone
31   Italy  ...    Duca di Salaparuta
32   Italy  ...    Duca di Salaparuta

[5 rows x 13 columns]

In [ ]:
#method notna untuk mencari nilai yg bukan null atau tidak kosong
#pada kasus ini mengambil semua nilai pada kolom price yang nilainya tidak bernilai null/kosong
wine_df[wine_df['price'].notna()].head()

    country  ...               winery
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks
5     Spain  ...               Tandem

[5 rows x 13 columns]

#Menambah Kolom baru pada DataFrame

Mendata seluruh kolom yang tersedia dengan attribute `columns`

In [ ]:
#untuk mengakses daftar nama kolom
wine_df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

Menambah kolom baru dengan nama `critic` dan diberi nilai `everyone` untuk tiap baris.

In [ ]:
wine_df['critic'] = 'everyone'
wine_df['critic'].head(10)

0    everyone
1    everyone
2    everyone
3    everyone
4    everyone
5    everyone
6    everyone
7    everyone
8    everyone
9    everyone
Name: critic, dtype: object

In [ ]:
wine_df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'critic'],
      dtype='object')

Menambah kolom baru dengan nama `index_backwards` dan diberi nilai bilangan bulat dari besar ke kecil sesuai dengan banyaknya jumlah baris.

In [ ]:
wine_df['index_backwards'] = range(len(wine_df), 0, -1)
wine_df['index_backwards'].head()

0    129971
1    129970
2    129969
3    129968
4    129967
Name: index_backwards, dtype: int64

#Menghasilkan ringkasan(summary) data pada DataFrame

Mengenal method `describe`,`mean`,`unique`,`value_counts`

In [ ]:
#fungsi describe untuk menampilkan kolom-kolom numerik
wine_df.describe()

              points          price  index_backwards
count  129971.000000  120975.000000    129971.000000
mean       88.447138      35.363389     64986.000000
std         3.039730      41.022218     37519.540256
min        80.000000       4.000000         1.000000
25%        86.000000      17.000000     32493.500000
50%        88.000000      25.000000     64986.000000
75%        91.000000      42.000000     97478.500000
max       100.000000    3300.000000    129971.000000

In [ ]:
#jika ingin menampilkan data descriptif untuk kolom points saja
wine_df['points'].describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [ ]:
#jika ingin menampilkan data rata" saja pada kolom points
wine_df['points'].mean()

88.44713820775404

In [ ]:
#jika ingin menampilkan data non-numerik
wine_df['taster_name'].describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [ ]:
#untuk menampilkan data yang unik dan tidak terduplikat
wine_df['taster_name'].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [ ]:
#untuk mengetahui kemunculan nama tester berapa kali penggunaan
wine_df['taster_name'].value_counts().head()

Roger Voss           25514
Michael Schachner    15134
Kerin O’Keefe        10776
Virginie Boone        9537
Paul Gregutt          9532
Name: taster_name, dtype: int64

#Mengenal Mapping

Terdapat dua mekanisme pada DataFrame, yaitu: dengan memanfaatkan method `map `dan method `apply`

**Mengenal method `map`**

Diterapkan di tingkat Series

In [ ]:
#method map diterapkan untuk 1 kolom saja
points_mean = wine_df['points'].mean()
wine_df['points'].map(lambda p: p - points_mean)

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

**Mengenal method `apply`**

Diterapkan di tingkat DataFrame

In [ ]:
#method apply untuk seluruh kolom yang ada pada dataFrame
points_mean = wine_df['points'].mean()

def remean_points(row):
  row['points'] = row['points'] - points_mean
  return row

wine_df.apply(remean_points, axis='columns').head()

    country  ... index_backwards
0     Italy  ...          129971
1  Portugal  ...          129970
2        US  ...          129969
3        US  ...          129968
4        US  ...          129967

[5 rows x 15 columns]

#Alternatif lain dengan built-in operations

Mekanisme ini lebih cepat dan efisien(bila dibandingkan `map` dan `apply`) tetapi tidak bisa menangani pemrosesan yang kompleks.

In [ ]:
points_mean = wine_df['points'].mean()
wine_df['points'] - points_mean

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [ ]:
#menampilkan kolom country dan region dengan strip sebagai pemisah
wine_df['country'] + ' - ' + wine_df['region_1']

0                     Italy - Etna
1                              NaN
2           US - Willamette Valley
3         US - Lake Michigan Shore
4           US - Willamette Valley
                    ...
129966                         NaN
129967                 US - Oregon
129968             France - Alsace
129969             France - Alsace
129970             France - Alsace
Length: 129971, dtype: object

Kasus: Mencari title wine dengan proporsi points/price tertinggi dengan memanfaatkan method `idmax`

In [ ]:
#mencari perbandingan dari 2 nilai, points dibagi dengan nilai price
#fungsi dari idxmax yaitu untuk mencari id dari hasil pembagian yg tertinggi
wine_df.loc[(wine_df['points']/wine_df['price']).idxmax(), 'title']

'Bandit NV Merlot (California)'

In [ ]:
wine_df['title'][(wine_df['points']/wine_df['price']).idxmax()]

'Bandit NV Merlot (California)'

Kasus: Mencari jumlah wine dengan description tropical dan fruity. Siapkan series untuk menampung jumlah dari kedua data.

In [ ]:
n_tropical = wine_df['description'].map(lambda desc: 'tropical' in desc).sum()
n_fruity = wine_df['description'].map(lambda desc: 'fruity' in desc).sum()
pd.Series([n_tropical, n_fruity], index=['tropical', 'fruity'])

tropical    3607
fruity      9090
dtype: int64

Kasus: Melakukan konversi point menjadi star

In [ ]:
def star_converter(row):
  if row['country'] == 'Canada':
      row['star'] = 3
  elif row['points'] >= 95:
      row['star'] = 3
  elif row['points'] >= 85:
      row['star'] = 2
  else:
      row['star'] = 1
  return row

wine_df['star'] = None
wine_df.apply(star_converter, axis='columns').head()

    country  ... star
0     Italy  ...    2
1  Portugal  ...    2
2        US  ...    2
3        US  ...    2
4        US  ...    2

[5 rows x 16 columns]

#Analisis terhadap sekelompok data

Kasus: menghitung jumlah data(rows/baris) untuk tiap points.

Cara pertama: dengan memanfaatkan method `value_counts`

In [ ]:
wine_df['points'].value_counts().head()

88    17207
87    16933
90    15410
86    12600
89    12226
Name: points, dtype: int64

Cara kedua: mengelompokkan data pada DataFrame terlebih dahulu dengan memanfaatkan method `groupby`

In [ ]:
wine_df.groupby('points')['points'].count().head()

points
80     397
81     692
82    1836
83    3025
84    6480
Name: points, dtype: int64

Kasus: mendata wine reviewer beserta jumlah reviewer yang pernah dilakukan.

Reviewer dapat diidentifikasi melalui kolom `taster_name`

In [ ]:
#untuk memberikan nama grup bernama ('taster_name') dari kolom ['taster_name]
#kemudian kolom tersebut dihitung jumlahnya menggunakan count
wine_df.groupby('taster_name')['taster_name'].count().head()

taster_name
Alexander Peartree     415
Anna Lee C. Iijima    4415
Anne Krebiehl MW      3685
Carrie Dykes           139
Christina Pickard        6
Name: taster_name, dtype: int64

Kasus: mencari harga terendah dari setiap kelompok point

In [ ]:
wine_df.groupby('points')['price'].min().head()

points
80    5.0
81    5.0
82    4.0
83    4.0
84    4.0
Name: price, dtype: float64

Kasus: menampilkan title dari wine untuk tiap country dengan points tertinggi

Data wine akan dikelompokkan terlebih dahulu berdasarkan negara, selanjutnya akan dicari wine di tiap kelompok negara yang memiliki points tertinggi

In [ ]:
wine_df.groupby('country').apply(lambda df: df[ df['points'] == df['points'].max()])[['title']].head()

                                                                           title
country
Argentina              82754   Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
Armenia                66146         Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia              345     Chambers Rosewood Vineyards NV Rare Muscat (Ru...
Austria                109406  Kracher 2008 Zwischen den Seen Nummer 9 Trocke...
Bosnia and Herzegovina 96759                 Winery Čitluk 2011 Blatina (Mostar)

Kasus: menampilkan title dari wine untuk tiap province di tiap country dengan points tertinggi

In [ ]:
wine_df.groupby(['country','province']).apply(lambda df: df[ df['points'] == df['points'].max()]) [['title']].head()

                                                                              title
country   province
Argentina Mendoza Province 82754  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other            78303                 Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia          66146        Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other  37882  Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales  85337  De Bortoli 2007 Noble One Bortytis Semillon (N...

#Mengenal method `agg`

In [ ]:
#method agg atau agresi dengan mengelompokkan dengan nama country
#dipantau dari kolom price dan dirangkum dengan len(jumlah),min,max nilainya
wine_df.groupby('country')['price'].agg([len, min, max]).head()

                           len   min     max
country
Argentina               3800.0   4.0   230.0
Armenia                    2.0  14.0    15.0
Australia               2329.0   5.0   850.0
Austria                 3345.0   7.0  1100.0
Bosnia and Herzegovina     2.0  12.0    13.0

Kasus: menampilkan harga (`price`) terendah dan tertinggi untuk setiap jenis wine (`variety`)

In [ ]:
wine_df.groupby('variety')['price'].agg(['min','max']).head()

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0

#Mengenal Pengurutan Data(sorting)

Membuat DataFrame yang lebih sederhana dengan tiga kolom

In [ ]:
wine_simple_df = wine_df[['country', 'title', 'price']]
wine_simple_df.head()

    country                                              title  price
0     Italy                  Nicosia 2013 Vulkà Bianco  (Etna)    NaN
1  Portugal      Quinta dos Avidagos 2011 Avidagos Red (Douro)   15.0
2        US      Rainstorm 2013 Pinot Gris (Willamette Valley)   14.0
3        US  St. Julian 2013 Reserve Late Harvest Riesling ...   13.0
4        US  Sweet Cheeks 2012 Vintner's Reserve Wild Child...   65.0

Mengurutkan data berdasarkan price

In [ ]:
wine_simple_df.sort_values(by='price').head()

       country                                             title  price
20484       US            Dancing Coyote 2015 White (Clarksburg)    4.0
112919   Spain  Terrenal 2010 Estate Bottled Tempranillo (Yecla)    4.0
59507       US   Pam's Cuties NV Unoaked Chardonnay (California)    4.0
31530       US                 Bandit NV Chardonnay (California)    4.0
61768    Spain          Terrenal 2010 Cabernet Sauvignon (Yecla)    4.0

Pengurutan secara descending(dari nilai terbesar ke nilai terkecil)

In [ ]:
wine_simple_df.sort_values(by='price', ascending=False).head()

       country                                              title   price
80290   France               Château les Ormes Sorbet 2013  Médoc  3300.0
15840   France                       Château Pétrus 2014  Pomerol  2500.0
98380   France     Domaine du Comte Liger-Belair 2010  La Romanée  2500.0
120391      US  Blair 2013 Roger Rose Vineyard Chardonnay (Arr...  2013.0
113564  France     Domaine du Comte Liger-Belair 2005  La Romanée  2000.0

In [ ]:
#mengurutkan datanya berdasarkan country dlu dan baru title
wine_simple_df.sort_values(by=['country', 'title']).head()

         country                                              title  price
5902   Argentina                         2 Copas 2009 Red (Mendoza)    8.0
45568  Argentina      25 Lagunas 2014 Cabernet Sauvignon (San Juan)   10.0
9790   Argentina  Achaval-Ferrer 2006 Finca Altamira Malbec (La ...  112.0
73744  Argentina  Achaval-Ferrer 2007 Finca Mirador Malbec (Medr...  112.0
7076   Argentina               Achaval-Ferrer 2007 Malbec (Mendoza)   29.0

Kasus: menampilkan daftar harga terendah dan tertinggi untuk setiap variety wine, data diurutkan secara descending berdasarkan harga terendah dan diikuti harga tertinggi

In [ ]:
wine_df.groupby('variety')['price'].agg(['min','max']).sort_values(by=['min','max'], ascending=False).head()

                    min    max
variety
Ramisco           495.0  495.0
Terrantez         236.0  236.0
Francisa          160.0  160.0
Rosenmuskateller  150.0  150.0
Tinta Negra Mole  112.0  112.0

Kasus: menampilkan rata-rata points yang diberikan oleh tiap reviewer(`taster_name`)

In [ ]:
wine_df.groupby('taster_name')['points'].mean().head()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Name: points, dtype: float64

Kasus: menampilkan jumlah wine(`title`) yang dihasilkan di tiap negara (`country`) untuk tiap jenis wine (`variety`)

In [ ]:
wine_df.groupby(['country', 'variety'])['title'].count().sort_values(ascending=False).head(10)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
US       Syrah                       3244
         Red Blend                   2972
France   Chardonnay                  2808
Italy    Nebbiolo                    2736
US       Zinfandel                   2711
Name: title, dtype: int64

#Mengubah Nama Kolom Pada DataFrame

Perubahan nama kolom pada DataFrame dapat dilakukan dengan memanfaatkan method `rename`

In [ ]:
wine_df.rename(columns={'points': 'score'}).head()

    country  ...  star
0     Italy  ...  None
1  Portugal  ...  None
2        US  ...  None
3        US  ...  None
4        US  ...  None

[5 rows x 16 columns]

Mengubah label/nama index dengan method `rename_axis`

In [ ]:
wine_df.rename_axis('baris', axis='rows').head()

        country  ...  star
baris            ...
0         Italy  ...  None
1      Portugal  ...  None
2            US  ...  None
3            US  ...  None
4            US  ...  None

[5 rows x 16 columns]

In [ ]:
wine_df.rename_axis('baris', axis='rows').rename_axis('kolom', axis='columns').head()

kolom   country  ...  star
baris            ...
0         Italy  ...  None
1      Portugal  ...  None
2            US  ...  None
3            US  ...  None
4            US  ...  None

[5 rows x 16 columns]